<h1>Wow!</h1>
<h2>You have taught <%= @tricks.size %> tricks to your dog(s)!</h2>
<% if @tricks.size > 0 %>
  <% @tricks.each do |trick| %>
    <% number = current_user.tricks.select{|t| t.name == trick.name}.size %>
    <ul>
      <li><a href="/tricks/<%= trick.id %>"><%= trick.name %></a> (<%= number %> times)</li>
    </ul>
  <% end %>
<% end %>
