<h1> <%= @user.name %>, here are all of your dogs! </h1>

<% if @dogs.size > 0 %>
  <% @dogs.each do |dog| %>
    <a href="/dogs/<% dog.id %>"><%= dog.name %></a>
    <br>
  <% end %>
<% end %>

<% if @dogs.size == 0 %>
  <h4>You haven't adopted any dogs yet!</h4>
<% else %>
  <h4>-or-</h4>
<% end %>

<a href="/dogs/new">Adopt a new dog!</a>
