<% if !!params[:auth] %>
  <p>I'm sorry.</p>
  <p>You tried to do something you don't have the authority to do.</p>
  <p>Please try again.</p>
<% end %>

<h1>Hello, <%= @user.name %>!</h1>
<h2>Welcome to your Trick Tracker!</h2>
<h3>From this page you can:</h3>

<a href="/dogs">See all your Dogs!</a>
<br>
<a href="/dogs/new">Adopt a new Dog!</a>
<br>
<a href="/tricks">See all the Tricks your dogs know!</a>
<br>
<a href="/edit">Edit your User information!</a>
<br>
<a href="/delete">Delete your account :(</a>
