<h1>Hello, <%= @user.name %>!</h1>
<h2>Welcome to your Trick Tracker!</h2>
<h3>From this page you can:</h3>

<a href="/dogs">See all your Dogs!</a>
<br>
<a href="#">Adopt a new Dog!</a>
<br>
<a href="#">See all the Tricks you have taught!</a>
<br>
<a href="#">Learn a new Trick!</a>
<br>
<a href="#">Edit your User information!</a>
<br>
<a href="#">Delete your account :(</a>
