<!doctype html>
<html>
  <head>
    <title>Trick-Tracker</title>
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>
    <br>
    <br>
    <a href="/logout">Log out</a>
  </body>
</html>
